<!-- firehose track 3, lesson 4 - file created 19 may 17/modified 20-22 may 17 -->

<!-- <h1>Welcome to ET's awesome app</h1> -->
<!-- <h1><%= @places.inspect %></h1> -->

<% @places.each do |place| %>
    <div class="booyah-box col-10 offset-1">
        <h1><%= link_to place.name, place_path(place) %></h1><br />
        <i><%= place.address %></i><br /><br />
        <p><%= place.description %></p><br />
        
        <% if place.user.present? %>
          <small><%= place.user.email %></small>
        <% end %>
        
<!-- next 11 lines added 28 may 17 - shows last comment from each place on homepage -->
        <% if place.comments.present? %>     <!-- checks if comments exist, so no error  -->
            <div class="col-12">
                <blockquote>    <!-- show last comment for each place -->
                    <% if place.comments.last.humanized_rating.present? %>
                        <b><%= place.comments.last.humanized_rating %></b> -
                    <% end %>
                    <%= place.comments.last.message %>
                    <small><%= place.comments.last.user.email %></small>
                </blockquote>
            </div>
        <% end %>

    </div>
<!--  <hr />  -->
<% end %>
